
	<div class="container">
  <div class="col-md-4 text-center">
    <h3>Funds</h3>
    <table id="funds_table" class="table table-striped table-bordered" style="width:100%">
<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>    
	</tr>
</thead>


  <tbody>
	<% @funds.each do |fund|%>
	<tr>
		<td><%= fund.name %></td>
		<td><%= fund.description %></td>
	</tr>
 
	<% end %>
   </tbody>


 </table>
</div>


<div class="col-md-8 text-center" >
  <h3>Ledgers</h3>
    <table id="ledgers_table" class="table table-striped table-bordered" style="width:100%">
 <thead>
  <tr>
    <th>Value</th>
    <th>Effective Date</th>
    <th>Fund Name</th>
    <th>Account Name</th>
    <th>Account Type</th>
  </tr>
</thead>

<tbody>
  <% @ledgers.each do |ledger|%>
    <tr>
      <td><%= ledger.value   %></td>
      <td><%= format_datetime(ledger.effective_date)  %></td>
      <td><%= ledger.fund.name  %></td>
      <td><%= ledger.account.name  %></td>
      <td><%= ledger.account.account_type.name rescue "---"  %></td>
    </tr>
     <% end %>
</tbody>
</table>
</div>
</div>



