<div class="container">
<% if @ledger.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@ledger.errors.count, "error") %> prohibited
      this general_ledger from being saved:
    </h2>
    <ul>
      <% @ledger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @ledger, local: true do |form| %>
<%#= form_for @ledger, as: :post, url: ledger_path(@ledger) do |form| %>
  <p>
    <%= form.label :value %><br>
    <%= form.text_field :value %>
  </p>

  <p>
    <%= form.label :effectivedate %><br>
    <%= form.text_area :effectivedate %>
  </p>

<div>
<button type="submit" class="btn btn-secondary">
  <p>
    <%= form.collection_select(:account_id, Account.all, :id, :name ) %>
  </p>
  <p>
    <%= form.collection_select(:fund_id, Fund.all, :id, :name ) %>
  </p>
</button>
</div>
<div>
<button type="submit" class="btn btn-dark">
  <p>
    <%= form.submit %>
  </p>
</button>
</div>
<% end %>
</div>
  
