<h1>Ledger Detail</h1>
<div class ="container-fluid">
	<p>
		<strong>value</strong>
		<%= @ledger.value %>
	</p>

	<p>
		<strong>Effective Date</strong>
		<%= @ledger.effective_date %>
	</p>

	<p>
		<strong>Fund Number</strong>
		<%= @ledger.fund_id %>
	</p>

	<p>
		<strong>Account Number</strong>
		<%= @ledger.account_id %>
	</p>

	<p>
		<%= link_to 'Back', ledgers_path %>
	</p>
</div>
