<!DOCTYPE html>
<html>
  <head>
    <title>AccountingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  </head>

  <body>

    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">

<p class="navbar-text pull-left">

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
 
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |

  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

  <li class="round-image-50"><%= image_tag(url_for(current_user.avatar)) %></li>


 
<% else %>

  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |


  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  
<% end %>
</p>
</div>
</nav>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Accounting System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="">
          <%= link_to "Accounts", accounts_path(@account), :class => 'navbar-link'  %>
        </li>
        <li>
          <%= link_to "Funds", funds_path(@fund), :class => 'navbar-link'  %>
        </li>
        <li>
          <%= link_to "Ledgers", ledgers_path(@fund), :class => 'navbar-link'  %>
        </li>

        <li>
          <%= link_to "Dashboard", dashboard_path, :class => 'navbar-link'  %>
        </li>

        <li>
          <%= link_to "Account_type", account_types_path(@account_types), :class => 'navbar-link'  %>
        </li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <%= yield %>
  </body>
</html>
