<div class="container">
<% if @account.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@account.errors.count, "error") %> prohibited
      this account from being saved:
    </h2>
    <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @account, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <br>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <br>
  <div class="field">
    <%= form.label :account_type_id, "Select Account Type" %><br />
 
    <%= form.collection_select :account_type_id, AccountType.all,:id,:name, include_blank: true %>
  </div>
  <br>
 
  <p>
    <%= form.submit %>
  </p>


<% end %>
</div>
  
